/* General */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --pripary-color: #202020;
    --secondary-color: #b98b15;
    --tertiary-color: #ebebeb;
    --alternative-color: #212529;
}

body {
    font-family: monospace;
    background-color: var(--pripary-color);
    color: var(--tertiary-color);
}

h1, h2, h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: var(--tertiary-color);
}

span {
    font-weight:900;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    background-color: var(--alternative-color);
}

header img {
    width: 80px;
}

header nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

header nav ul li a {
    font-size: 1rem;
    padding: 5px 5px;
    border-radius: 5px;
}

header nav ul li a:hover {
    background-color: #b98b15;
    color: var(--pripary-color);
}

/* Hero */
#hero {
    margin: auto;
}

#hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin: 25px;
}

.flex-hero {
    padding-top: 30px;
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}

.flex-hero img {
    max-width: 100%;
    height: auto;
    min-width: 500px;
}

.flex-hero p {
    font-size: 1.2rem;
    text-align: center;
}

.category {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 85%;
    margin: auto;
    min-height: 120px;
}

.category__card {
    width: 200px;
    min-height: 150px;
    background-color: var(--secondary-color);
    color: var(--pripary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    font-size: 1.3rem;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin: auto;
}

.category__card:hover {
    transform: scale(1.2);
}

.line {
    height: 2px;
    width: 100%;    
    background-color: aliceblue;
    margin: 40px 0;
}

/* Products */
#products {
    margin: 100px 0;
}

.flex-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
    padding: 20px 50px;
    max-width: 1600px;
    margin: auto;
}

.flex-products .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 20px 20px;
    background-color: var(--alternative-color);
    border-radius: 10px;
}

.flex-products .card img {
    width: 150px;
}

.flex-products .card .price {
    font-size: 1rem;
}

.flex-products .card a {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 10px 5px;
    border-radius: 10px;
}

.flex-products .card a:hover {
    background-color: var(--pripary-color);
    color: var(--tertiary-color);
    border: 1px solid var(--pripary-color);
}

/* Queries */

#queries {
    min-height: 60vh;
    margin-bottom: 200px;
}

form {
    background-color: transparent;
    padding: 20px;
    max-width: 60%;
    margin: auto;
    box-shadow: 0px 0px 55px #0009;
    margin-top: 50px;
    border-radius: 6px;
}

form * {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 8px 0;
    outline: none;
}

form input, textarea {
    box-sizing: border-box;
    padding: 10px 20px;
    border: none;
    border: 1px solid var(--secondary-color);
    box-shadow: 0px 0px 55px #0009;
    background-color: transparent;
    border-radius: 4px;
    color: var(--tertiary-color);
    margin: 5px 0;
    font-family: inherit;
}

form textarea {
    min-width: 100%;
    resize: none;
    min-height: 150px;
}

form button {
    border: none;
    margin: 20px 0;
    border: 1px solid var(--tertiary-color);
    background-color: transparent;
    color: var(--tertiary-color);
    width: 50%;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: var(--secondary-color);
    border: 1px solid var(--pripary-color);
    color: var(--pripary-color);
}


/* Footer */
footer {
    position: relative;
    width: 100%;
}

.skewed {
    max-width: 100%;
    height: 300px;
    z-index: 0;
    transform: skewY(7deg);
    transform-origin: top right;
    background: var(--alternative-color);
    color: var(--tertiary-color);
}

.redes {
    height: 300px;
    width: 100%;
    position: absolute;
    z-index: 10;
    background-color: var(--alternative-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-size: 1.1rem;
}

.redes a, .redes h4 {
    margin-left: 30px;
}

.whatsapp {
    position: fixed;
    bottom: 60px;
    right: 90px;
    z-index: 20;
}

.whatsapp a {
    color: #25d366;
    font-size: 5rem;
    transition: transform 0.3s ease;
}

.whatsapp a i:hover {
    transform: scale(1.2);
}

/* Media queries */
@media (max-width: 920px) {
    .flex-hero {
        flex-direction: column;
        gap: 30px;
        text-align: justify;
    }
    .flex-hero img {
        min-width: 100%;
    }
    .category,
    .flex-products {
        grid-template-columns: 1fr 1fr;
    }
    .whatsapp {
        bottom: 50px;
        right: 40px;
    }
    .whatsapp a {
        font-size: 4rem;
    }
}

@media (max-width: 644px) {
    .category,
    .flex-products {
        grid-template-columns: 1fr;   
    }
    .whatsapp a {
        font-size: 3rem;
    }
}

@media (max-width: 540px) {
    header nav ul{
        flex-direction: column;
        gap: 5px
    }
    .whatsapp {
        bottom: 30px;
        right: 20px;
    }
    .whatsapp a {
        font-size: 3rem;
    }
}