/* General */
* {
    margin: 0;
    padding: 0;
}

:root {
    --pripary-color: #202020;
    --secondary-color: #b98b15;
    --tertiary-color: #ebebeb;
}

body {
    font-family: monospace;
    background-color: var(--pripary-color);
    color: var(--tertiary-color);
}

h1, h2, h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: var(--tertiary-color);
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    box-shadow: 0px 11px 5px -5px rgba(0,0,0,0.39);
}

header img {
    width: 80px;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header nav ul li a {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
}

header nav ul li a:hover {
    background-color: #b98b15;
    color: var(--pripary-color);
}

span {
    font-weight:900;
}

/* Hero */

#hero {
    max-width: 80%;
    margin: auto;
    padding: 50px;    
    height: 100vh;
}

#hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.flex-hero {
    display: flex;
    align-items: center;
}

.flex-hero img {
    width: 500px;
}

.flex-hero p {
    font-size: 1.2rem;
}

.category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    width: 100%;
    height: 120px;
}

.category__card {
    background-color: #b98b15;
    color: var(--pripary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    font-size: 1.3rem;
    transition: transform 0.3s ease;
}

.category__card:hover {
    transform: scale(1.2);
}
